<section>
	<article>
		<header>
			<h1><abbr>CleverStyle CMS</abbr></h1>
			<p>
				CleverStyle CMS це проста, масштабована, і швидка система керування контентом.
			</p>
		</header>
		<p>
			Поточна версія Alpha.
		</p>
		<p>
			Ядно системи містить тільки базову функціональність, тому більше схоже на CMF (фреймворк керування контентом) ніж на CMS.
		</p>
		<p>
			Але паралельно з ядром розробляються деякі компоненти:
		</p>
		<h2>Модулі</h2>
		<ul>
			<li><strong>Blogs</strong> (проста блогова функціоналність)</li>
			<li><strong>Comments</strong> (додає функціональність коментарів в інші модулі)</li>
			<li><strong>Cron</strong> (простий графічний інтерфейс ядля crontab, запланованих задач)</li>
			<li><strong>Disqus</strong> (інтеграція сервісу коментування Disqus, додає функціональність коментарів в інші модулі)</li>
			<li><strong>Feedback</strong> (простий модуль зворотнього зв'язку, відправляє повідомлення на email адміністратора)</li>
			<li><strong>HybridAuth</strong> (інтеграція бібліотеки <a href="https://github.com/hybridauth/hybridauth" target="_blank">HybridAuth</a> для інтеграції з соціальними мережами та іншими сервісами)</li>
			<li><strong>OAuth2</strong> (забезпечує реалізацію протоколу авторизації OAuth 2 (серверна сторона))</li>
			<li><strong>Photo gallery</strong> <sup style="color: #6EBC00">new</sup> (простий модуль фотогалереї, що базується на компонентах Fotorama, Plupload і SimpleImage)</li>
			<li><strong>Plupload</strong> (інтеграція <a href="https://github.com/moxiecode/plupload" target="_blank">Plupload</a> для завантаження файлів, додає функціональність завантаження файлів в інші модулі)</li>
			<li><strong>Static pages</strong> (дозволяє створювати прості статичні сторінки, наприклад Про Нас, чи сторінки без інтерфейсу, наприклад для підтвердження володіння сайтом)</li>
		</ul>
		<h2>Плагіни</h2>
		<ul>
			<li><strong>Admin default theme</strong> (примусово встановить тему CleverStyle в адмініструванні, що буває корисно, так як не потрібно адаптувати тему для адмін-панелі)</li>
			<li><strong>Fotorama</strong> <sup style="color: #6EBC00">new</sup> (інтеграція jQuery галереї <a href="https://github.com/artpolikarpov/fotorama" target="_blank">Fotorama</a> в CleverStyle CMS)</li>
			<li><strong>SimpleImage</strong> <sup style="color: #6EBC00">new</sup> (інтеграція класу <a href="https://github.com/claviska/SimpleImage" target="_blank">SimpleImage</a> в CleverStyle CMS)</li>
			<li><strong>TinyMCE</strong> (інтеграція <a href="https://github.com/tinymce/tinymce" target="_blank">TinyMCE</a> WYSIWYG Редактора для забезпечення простого редагування контенту)</li>
		</ul>
		<p>
			Система безкоштовна, Open Source і розповсюджується під ліцензією MIT, дивіться <a href="https://github.com/nazar-pc/CleverStyle-CMS/blob/master/license.txt" target="_blank">license.txt</a>
		</p>
		<p>
			Інсталяційні збірки системи і компонентів можна знайти на сторінці <a href="https://github.com/nazar-pc/CleverStyle-CMS/wiki/Download-installation-packages" target="_blank">завантажень</a>
		</p>
		<footer>
			<p>
				Автор – Назар Мокринський <a href="mailto:nazar@mokrynskyi.com">nazar@mokrynskyi.com</a>
			</p>
			<p>
				Copyright (c) 2011-2013, Назар Мокринський
			</p>
		</footer>
	</article>
	<article>
		<h1>Основні можливості</h1>
		<ul>
			<li>
				Підтримка компонентів
				<ul>
					<li>Підтримка модулів (для відображення основного вмісту сторінки)</li>
					<li>Підтримка плагінів (завантажуються на кожній сторінці і забезпечують додаткову функціональність)</li>
					<li>Підтримка блоків (розміщуються насколо сторінки для відображення додаткової інформації)</li>
				</ul>
			</li>
			<li>Підтримка зрозумілих людині адрес сторінок</li>
			<li>Підтримка груп та типів користувачів</li>
			<li>Підтримка прав та контролю доступу</li>
			<li>
				Повна багатомовна підтримка (як інтерфейсу, так і контенту)
				<ul>
					<li>Підтримка автоматичнного перекладу контенту</li>
				</ul>
			</li>
			<li>Підтримка мініфікації і компресії CSS та JavaScript</li>
			<li>
				Підтримка дзеркал сайту
				<ul>
					<li>Підтримка дзеркал доменів</li>
					<li>Підтримка дзеркал фізичних серверів для кожного домену</li>
				</ul>
			</li>
			<li>Пітримка тем та кольорових схем</li>
			<li>
				Пітримка кількох баз даних
				<ul>
					<li>Підтримка кількох дзеркал баз даних</li>
				</ul>
			</li>
			<li>Пітримка кількох сховищ файлів</li>
			<li>Підтримка системного кешування</li>
			<li>Фільтр та обмеження по IP</li>
			<li>Підтримка зовнішнього API сайту</li>
			<li>Підтримка IPv6</li>
		</ul>
	</article>
	<article>
		<h1>Вимоги</h1>
		<ul>
			<li>Unix-подібна операційна система</li>
			<li>Веб-сервер Apache2 або Nginx</li>
			<li>
				PHP 5.4+
				<ul>
					<li>Бібліотека mcrypt (рекомендується для шифрування)</li>
					<li>Бібліотека cUrl (рекомендується для автоматичних перекладів)</li>
					<li>APC (Alternative PHP cache) модуль (рекомендується для прискорення системи з PHP 5.4)</li>
				</ul>
			</li>
			<li>
				MySQL сервер баз данных (MariaDB також буде працювати)
				<ul>
					<li>Система може бути розширена для підтримки інших серверів баз данных</li>
				</ul>
			</li>
		</ul>
	</article>
	<article>
		<h1>Як встановити?</h1>
		<p>
			<a href="https://github.com/nazar-pc/CleverStyle-CMS/wiki/Installation" target="_blank">Прочитайте прості інструкції в нашій wiki</a>
		</p>
	</article>
</section>