<section>
	<article>
		<header>
			<h1><abbr>CleverStyle CMS</abbr></h1>
			<p>
				CleverStyle CMS это простая, масштабируемая, и быстрая система управления контентом.
			</p>
		</header>
		<p>
			Текущая версия Alpha.
		</p>
		<p>
			Ядро системы содержит только базовую функциональность, поэтому больше похоже на CMF (фреймворк управления контентом) чем на CMS.
		</p>
		<p>
			Но паралельно с ядром разрабатываются некоторые компоненты:
		</p>
		<h2>Модули</h2>
		<ul>
			<li><strong>Blogs</strong> (простая блоговая функциональность)</li>
			<li><strong>Comments</strong> (добавляет функциональность комментариев в другие модули)</li>
			<li><strong>Cron</strong> (простой графический интерфейс для crontab, запланированных задач)</li>
			<li><strong>Deferred tasks</strong> <sup style="color: #6EBC00">new</sup> (отложенные задачи позволяют другим компонентам создавать задачи, которые могут быть выполнены не немедленно, а немного позже)</li>
			<li><strong>Disqus</strong> (интеграция сервиса комментариев Disqus, добавляет функциональность комментариев в другие модули)</li>
			<li><strong>Feedback</strong> (простой модуль обратной связи, отправляет сообщение на email администратора)</li>
			<li><strong>HybridAuth</strong> (интеграция библиотеки <a href="https://github.com/hybridauth/hybridauth" target="_blank">HybridAuth</a> для интеграции с социальными сетями и дрругими сервисами)</li>
			<li><strong>OAuth2</strong> (обеспечивает реализацию протокола авторизации OAuth 2 (серверная сторона))</li>
			<li><strong>Photo gallery</strong> (простой модуль фотогалереи, который базируется на компонентах Fotorama, Plupload и SimpleImage)</li>
			<li><strong>Plupload</strong> (интеграция <a href="https://github.com/moxiecode/plupload" target="_blank">Plupload</a> для загрузки файлов, добавляет функциональность загрузки файлов в другие модули)</li>
			<li><strong>Static pages</strong> (позволяет создавать простые статические страницы, например О Нас, или страницы без интерфейса, например для подтверждения владения сайтом)</li>
		</ul>
		<h2>Плагины</h2>
		<ul>
			<li><strong>Admin default theme</strong> (принудительно установит тему CleverStyle в администрировании, что бывает полезно, так как не нужно адаптировать тему для админ панели)</li>
			<li><strong>Fotorama</strong> (интеграция jQuery галереи <a href="https://github.com/artpolikarpov/fotorama" target="_blank">Fotorama</a> в CleverStyle CMS)</li>
			<li><strong>SimpleImage</strong> (интеграция класса <a href="https://github.com/claviska/SimpleImage" target="_blank">SimpleImage</a> в CleverStyle CMS)</li>
			<li><strong>TinyMCE</strong> (интеграция <a href="https://github.com/tinymce/tinymce" target="_blank">TinyMCE</a> WYSIWYG Редактора для обеспечения простого редактирвоания контента)</li>
		</ul>
		<p>
			Система бесплатная, Open Source и распространяется под лицензией MIT, смотрите <a href="https://github.com/nazar-pc/CleverStyle-CMS/blob/master/license.txt" target="_blank">license.txt</a>
		</p>
		<p>
			Установочные сборки системы и компонентов можно найти на странице <a href="https://github.com/nazar-pc/CleverStyle-CMS/wiki/Download-installation-packages" target="_blank">загрузок</a>
		</p>
		<footer>
			<p>
				Автор – Назар Мокринский <a href="mailto:nazar@mokrynskyi.com">nazar@mokrynskyi.com</a>
			</p>
			<p>
				Copyright (c) 2011-2013, Назар Мокринский
			</p>
		</footer>
	</article>
	<article>
		<h1>Основные возможности</h1>
		<ul>
			<li>
				Компоненты
				<ul>
					<li>Модули (для отображения основного содержания страницы)</li>
					<li>Плагины (загружаются на каждой странице и обеспеивают дополнительную функциональность)</li>
					<li>Блоки (размещаются вокруг страницы для отображения дополнительной информации)</li>
				</ul>
			</li>
			<li>Человекочитаемые адреса</li>
			<li>Типы и группы пользователей</li>
			<li>Права и контроль доступа</li>
			<li>
				Локализация и интернационализация (как интерфейса, так и контента)
				<ul>
					<li>Автоматический перевод контента</li>
				</ul>
			</li>
			<li>Минификация и компрессия CSS и JavaScript</li>
			<li>
				Зеркала сайта
				<ul>
					<li>Зеркала доменов</li>
					<li>Зеркала физических серверов для каждого домена</li>
				</ul>
			</li>
			<li>Темы и цветовые схемы</li>
			<li>
				Множественные базы данных
				<ul>
					<li>Множественные зеркала баз данных</li>
				</ul>
			</li>
			<li>Множественные хранилища файлов</li>
			<li>Системное кэширование (FileSystem, APC, Memcached)</li>
			<li>Фильтр и ограничения по IP</li>
			<li>RESTful API</li>
			<li>IPv6</li>
		</ul>
	</article>
	<article>
		<h1>Требования</h1>
		<ul>
			<li>Unix-подобрая операционная система или Windows (недостаточно тестируется, но всё равно должно работать)</li>
			<li>Веб-сервер Apache2 или Nginx</li>
			<li>
				PHP 5.4+
				<ul>
					<li>Библиотека mcrypt (рекомендуется для шифрования)</li>
					<li>Библиотека cUrl (рекомендуется для автоматических переводов)</li>
					<li>APC (Alternative PHP cache) модуль (рекомендуется для ускорения системы с PHP 5.4)</li>
					<li>Memcached (опционально для Memcached движка кэша)</li>
				</ul>
			</li>
			<li>
				MySQL сервер баз данных (MariaDB тоже будет работать)
				<ul>
					<li>Система может быть расширена для поддержки других серверов баз данных</li>
				</ul>
			</li>
		</ul>
	</article>
	<article>
		<h1>Как установить?</h1>
		<p>
			<a href="https://github.com/nazar-pc/CleverStyle-CMS/wiki/Installation" target="_blank">Прочтите простые инструкции в нашей wiki</a>
		</p>
	</article>
</section>