<section>
	<article>
		<header>
			<h1><abbr>CleverStyle CMS</abbr></h1>
			<p>
				CleverStyle CMS is simple, scalable, and fast content management system.
			</p>
		</header>
		<p>
			Current version is Alpha.
		</p>
		<p>
			System core contains only basic functionality, so, it looks more like CMF (content management framework) rather than CMS.
		</p>
		<p>
			But in parallel with core some components are developed:
		</p>
		<h2>Modules</h2>
		<ul>
			<li><strong>Blogs</strong> (simple blogging functionality)</li>
			<li><strong>Comments</strong> (adds comments functionality to other modules)</li>
			<li><strong>Cron</strong> (provides GUI for crontab, scheduled tasks)</li>
			<li><strong>Feedback</strong> <sup style="color: #6EBC00">new</sup> (simple feedback module, sends message to admin's email)</li>
			<li><strong>HybridAuth</strong> (integration of <a href="https://github.com/hybridauth/hybridauth" target="_blank">HybridAuth</a> library for integration with social networks and other services)</li>
			<li><strong>OAuth2</strong> (provides realization of OAuth 2 authorization protocol (server side))</li>
			<li><strong>Plupload</strong> <sup style="color: #6EBC00">new</sup> (integration of <a href="https://github.com/moxiecode/plupload" target="_blank">Plupload</a> for files uploading, adds files uploading functionality to other modules)</li>
			<li><strong>Static pages</strong> (allows to create static pages like About page or pages without interface, for example for site owner verification)</li>
		</ul>
		<h2>Plugins</h2>
		<ul>
			<li><strong>Admin default theme</strong> (forces default CleverStyle theme in all administration pages, that is helpful, because there is no need to adapt custom theme for admin panel)</li>
			<li><strong>TinyMCE</strong> (integration of <a href="https://github.com/tinymce/tinymce" target="_blank">TinyMCE</a> WYSIWYG Editor for providing simpler content editing)</li>
		</ul>
		<p>
			System is free, Open Source and is distributed under MIT license, see <a href="https://github.com/nazar-pc/CleverStyle-CMS/blob/master/license.txt" target="_blank">license.txt</a>
		</p>
		<p>
			Installation builds of core and components can be found on <a href="https://github.com/nazar-pc/CleverStyle-CMS/wiki/Download-installation-packages" target="_blank">downloads</a> page
		</p>
		<footer>
			<p>
				Author – Nazar Mokrynskyi <a href="mailto:nazar@mokrynskyi.com">nazar@mokrynskyi.com</a>
			</p>
			<p>
				Copyright (c) 2011-2013, Nazar Mokrynskyi
			</p>
		</footer>
	</article>
	<article>
		<h1>Main features</h1>
		<ul>
			<li>
				Components support
				<ul>
					<li>Modules support (for displaying main page content)</li>
					<li>Plugins support (are loaded on every page and provides additional functionality)</li>
					<li>Blocks support (are placed on around the page for displaying additional information)</li>
				</ul>
			</li>
			<li>Human readable addresses support</li>
			<li>Users groups and types support</li>
			<li>Users permissions control support</li>
			<li>
				Complete multilingual support (both interface and content)
				<ul>
					<li>Content autotranslation support</li>
				</ul>
			</li>
			<li>CSS and JavaScript minification and autocompression support</li>
			<li>
				Site mirrors support
				<ul>
					<li>Domain mirrors support</li>
					<li>Support of physical server mirrors for every domain name</li>
				</ul>
			</li>
			<li>Themes and color schemes support</li>
			<li>
				Multiple Databases support
				<ul>
					<li>Multiple Databases mirrors support</li>
				</ul>
			</li>
			<li>Multiple files storages support</li>
			<li>System cache support</li>
			<li>IP filtering and restriction support</li>
			<li>External site API support</li>
			<li>IPv6 support</li>
		</ul>
	</article>
	<article>
		<h1>Requirements</h1>
		<ul>
			<li>Unix-like operating system</li>
			<li>Apache2 or Nginx web server</li>
			<li>
				PHP 5.4+
				<ul>
					<li>Mcrypt library (recommended for encryption)</li>
					<li>cUrl library (recommended for autotranslation)</li>
					<li>APC (Alternative PHP cache) module (recommended for system speed up with PHP 5.4)</li>
				</ul>
			</li>
			<li>
				MySQL Database server (MariaDB will work as well)
				<ul>
					<li>System may be extended to support other databases</li>
				</ul>
			</li>
		</ul>
	</article>
	<article>
		<h1>How to install?</h1>
		<p>
			<a href="https://github.com/nazar-pc/CleverStyle-CMS/wiki/Installation" target="_blank">Read simple instructions in our wiki</a>
		</p>
	</article>
</section>