<section>
	<article>
		<header>
			<h1><abbr>CleverStyle CMS</abbr></h1>
			<p>
				CleverStyle CMS це проста, масштабована, і проста система керування контентом.
			</p>
		</header>
		<p>
			Поточна версія Alpha.
		</p>
		<p>
			Ядно системи містить тільки базову функціональність, тому більше схоже на CMF (фреймворк керування контентом) ніж на CMS.
		</p>
		<p>
			Але паралельно з ядром розробляються деякі компоненти:
		</p>
		<h2>Модулі</h2>
		<ul>
			<li><strong>Blogs</strong> (проста блогова функціоналність)</li>
			<li><strong>Comments</strong> (додає функціональність коментарів в інші модулі)</li>
			<li><strong>Cron</strong> (простий графічний інтерфейс ядля crontab, запланованих задач)</li>
			<li><strong>HybridAuth </strong> (інтеграція бібліотеки <a href="https://github.com/hybridauth/hybridauth">HybridAuth</a> для інтеграції з соціальними мережами та іншими сервісами)</li>
			<li><strong>OAuth2</strong> (забезпечує реалізацію протоколу авторизації OAuth 2 (серверна сторона))</li>
			<li><strong>Static pages</strong> (дозволяє створювати прості статичні сторінки, наприклад Про Нас, чи сторінки без інтерфейсу, наприклад для підтвердження володіння сайтом)</li>
		</ul>
		<h2>Плагіни</h2>
		<ul>
			<li><strong>Admin default theme</strong> (примусово встановить тему CleverStyle в адмініструванні, що буває корисно, так як не потрібно адаптувати тему для адмін-панелі)</li>
			<li><strong>TinyMCE</strong> (інтеграція <a href="https://github.com/tinymce/tinymce">TinyMCE</a> WYSIWYG Редактора для забезпечення простого редагування контенту)</li>
		</ul>
		<p>
			Система безкоштовна, Open Source і розповсюджується під ліцензією MIT, дивіться <a href="https://github.com/nazar-pc/CleverStyle-CMS/blob/master/license.txt">license.txt</a>
		</p>
		<p>
			Інсталяційні збірки системи і компонентів можна знайти на сторінці <a href="https://github.com/nazar-pc/CleverStyle-CMS/wiki/Download-installation-packages">завантажень</a>
		</p>
		<footer>
			<p>
				Автор – Назар Мокринський <a href="mailto:nazar@mokrynskyi.com">nazar@mokrynskyi.com</a>
			</p>
			<p>
				Copyright (c) 2011-2013, Назар Мокринський
			</p>
		</footer>
	</article>
	<article>
		<h1>Основні можливості</h1>
		<ul>
			<li>
				Підтримка компонентів
				<ul>
					<li>Підтримка модулів (для відображення основного вмісту сторінки)</li>
					<li>Підтримка плагінів (завантажуються на кожній сторінці і забезпечують додаткову функціональність)</li>
					<li>Підтримка блоків (розміщуються насколо сторінки для відображення додаткової інформації)</li>
				</ul>
			</li>
			<li>Поддержка человекочитаемых адресов</li>
			<li>Поддержка типов и групп пользователей</li>
			<li>Поддержка прав и контроля доступа</li>
			<li>
				Полная многоязычная поддержка (как интерфейса, так и контента)
				<ul>
					<li>Поддержка автоматического перевода контента</li>
				</ul>
			</li>
			<li>Поддержка минификации и компрессии CSS и JavaScript</li>
			<li>
				Поддержка зекрал сайта
				<ul>
					<li>Поддержка зеркал доменов</li>
					<li>Поддержка зеркал физических серверов для каждого домена</li>
				</ul>
			</li>
			<li>Поддержка тем и цветовых схем</li>
			<li>
				Поддержка множественных баз данных
				<ul>
					<li>Поддержка множественных зеркал баз данных</li>
				</ul>
			</li>
			<li>Поддержка множественных хранилищ файлов</li>
			<li>Поддержка системного кэширования</li>
			<li>Фильтр и ограничения по IP</li>
			<li>Поддержка внешнего API сайта</li>
			<li>Поддержка IPv6</li>
		</ul>
	</article>
	<article>
		<h1>Требования</h1>
		<ul>
			<li>Unix-подобрая операционная система</li>
			<li>Веб-сервер Apache2</li>
			<li>
				PHP 5.4+
				<ul>
					<li>Библиотека mcrypt (рекомендуется для шифрования)</li>
					<li>Библиотека cUrl (рекомендуется для автоматических переводов)</li>
					<li>APC (Alternative PHP cache) модуль (рекомендуется для ускорения системы)</li>
					<li>Модуль memcached (рекомендуется для кэширования)</li>
				</ul>
			</li>
			<li>
				MySQL сервер баз данных
				<ul>
					<li>Система может быть расширена для поддержки других серверов баз данных</li>
				</ul>
			</li>
		</ul>
	</article>
	<article>
		<h1>Как установить?</h1>
		<p>
			<a href="https://github.com/nazar-pc/CleverStyle-CMS/wiki/Installation">Прочтите простые инструкции в нашей wiki</a>
		</p>
	</article>
</section>