<section id="cs-home-section">
	<header>
		<img src="/themes/Portal/img/logo-med.jpg" alt="CleverStyle logo" title="CleverStyle">
		<h1>
			<span>Change</span>
			<span>Your</span>
			<span>World</span>
		</h1>
	</header>
	<article>
		<h1>What is this?</h1>
		<p>
			CleverStyle - is a project, that creates new, qualitative and creative solution in sphere on software development.
			As for now - we are working on web projects.
			If you have interesting ideas, and want to join us - welcome, let's do it together!
		</p>
	</article>
	<article>
		<h1>Why did you do that?</h1>
		<p>
			We just want to make this world better.
			Variety of presented solutions is very huge for today, but most of them are difficult in usage, developing new components, and supporting.
			We trust, that we can fix this, and present more simple, fast, secure and powerful solution for everyone.
			In addition, basic solutions will be always available as Open Source software for everyone without any limitation.
		</p>
	</article>
	<article>
		<h1>Examples of current working projects?</h1>
		<p>
			Currently under development CleverStyle CMS - scalable, but simple content management system.
			The variety of existing solutions is not necessarily a guarantee of quality and convenience, we also take the best of the existing solutions trying to take into account they shortcomings, and add the zest, then what other content management systems haven't.
			Our goal - the most simple website management, without limitation of the functionality and potential of extension.
			Read about the basic capabilities of the system, download latest builds of core and components, and watch full source code you can on <a href="https://github.com/nazar-pc/CleverStyle-CMS" target="_blank">GitHub</a>.
			Reports on the status and development process of the engine, information of all changes and innovations, plans for the future on our vk.com page <a href="http://vk.com/cleverstyle_en" target="_blank">vk.com/cleverstyle_en</a>.
		</p>
	</article>
</section>