<section id="cs-home-section">
	<header>
		<img src="/themes/Portal/img/logo-med.png" alt="CleverStyle лого" title="CleverStyle">
		<h1>
			<span>Зміни</span>
			<span>Свій</span>
			<span>Світ</span>
		</h1>
	</header>
	<article>
		<h1>Що це?</h1>
		<p>
			CleverStyle - це проект, який створює нові, якісні та креативні рішення в сфері розробки програмного забезпечення.
			Зараз ми працюємо з веб-проектами.
			Якщо в тебе є цікаві ідеї, і ти хочеш приєднатися до нас - ласкаво просимо, зробимо це разом!
		</p>
	</article>
	<article>
		<h1>Чому ви це робите?</h1>
		<p>
			Ми просто хочемо зробити цей світ кращим.
			Різноманітність представлених сьогодні рішень велика, але більшість з них важкі у використанні, розробці нових компонентів, та підтримці.
			Ми віримо, що зможемо це виправити, і представити простіше, швидше, безпечніше і потужніше рішення для всіх.
			На додачу, базові рішення завжди будуть доступні як програмне забезпечення з відкритим вихідним кодом для всіх, без будь-яких обмежень.
		</p>
	</article>
	<article>
		<h1>Приклади поточних робочих проектів?</h1>
		<p>
			Зараз йде розробка CleverStyle CMS - масштабованої, але при цьому простої системи управління контентом.
			Різноманітність існуючих рішень не обов'язково є запорукою якості і зручності, ми ж беремо краще з існуючих, намагаємося врахувати їх недоліки, і додати свою родзинку, те, чого в інших системах управління контентом немає.
			Наша мета - максимально просте управління сайтом, не обмежуючи функціональні можливості і потенціалу розширення.
			Прочитати про базові можливості системи, завантажити останні збірки системи а також переглянути повний вихідний код можна в <a href="https://github.com/nazar-pc/CleverStyle-CMS" target="_blank">GitHub</a>.
			Звіти про стан та процесс розвитку движку, інформація про всі зміни та нововведення, плани на майбутнє на нашій сторінці Вконтакті <a href="http://vk.com/cleverstyle" target="_blank">vk.com/cleverstyle</a>.
		</p>
	</article>
</section>