<section id="cs-home-section">
	<header>
		<img src="/themes/Portal/img/logo-med.png" alt="CleverStyle лого" title="CleverStyle">
		<h1>
			<span>Измени</span>
			<span>Свой</span>
			<span>Мир</span>
		</h1>
	</header>
	<article>
		<h1>Что это?</h1>
		<p>
			CleverStyle - это проект, который создает новые, качественные и креативные решения в области разработки программного обеспечения.
			Сейчас мы работаем над веб-проектами.
			Если у тебя есть интересные идеи, и ты хочешь присоединиться к нам - добро пожаловать, сделаем это вместе!
		</p>
	</article>
	<article>
		<h1>Почему вы это делаете?</h1>
		<p>
			Мы просто хотим сделать этот мир лучше.
			Разнообразие представленных сегодня решений очень велико, но большинство трудны в использовании, разработке новых компонентов, и поддержке.
			Мы верим, что сможем это исправить, и предоставить более простое, быстрое, безопасное и мощное решение для всех.
			В дополнение, базовые решения всегда будут доступны как программное обеспечение и открытым исходным кодом для всех, без каких-либо ограничений.
		</p>
	</article>
	<article>
		<h1>Примеры текущих рабочих проэктов?</h1>
		<p>
			Сейчас идет разработка CleverStyle CMS - масштибируемой, но при этом простой системы управления контентом.
			Разнообразность существующих решений не обязательно является залогом качества и удобства, мы же берём лучшее из существующих, стараемся учесть их недостатки, и добавить свою изюминку, то, чего в других системах управления контентом нет.
			Наша цель - максимально простое управление сайтом, не ограничивая функциональные возможности и потенциала расширения.
			Прочитать о базовых возможностях системы, скачать последние сборки ядра и компонентов, а так же просмотреть полный исходный можно код можно в <a href="https://github.com/nazar-pc/CleverStyle-CMS" target="_blank">GitHub</a>.
			Отчёты о состоянии и процессе развития движка, информация  всех изменениях и нововведениях, планах на будущее на нашей страничке ВКонтакте <a href="http://vk.com/cleverstyle_ru" target="_blank">vk.com/cleverstyle_ru</a>.
		</p>
	</article>
</section>