<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="/CMS">CleverStyle CMS</a></h1>
		<p class="uk-article-lead">Simple, fast and scalable content management system.</p>
	</header>
	<figure class="uk-thumbnail">
		<img src="/components/modules/Home/includes/img/cms-screenshot.jpg" alt="CleverStyle CMS">
		<div class="uk-thumbnail-caption">
			<h2>"About sever" page of administration</h2>
		</div>
	</figure>
	<p>The best fits into developers' requirements, when creating websites with unique functionality.</p>
	<p>System as a whole provides all necessary abstractions for quick development, that works together right our of the box, and do not require special setup because of reasonable default.</p>
	<p>Actually this is <abbr title="Content Management Framework">CMF</abbr>, but tend to be more and more usable as <abbr title="Content Management System">CMS</abbr></p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">PickMeUp jQuery Datepicker plugin</a></h1>
		<p class="uk-article-lead">Really simple, powerful and customizable datepicker</p>
	</header>
	<figure class="uk-thumbnail">
		<img src="/components/modules/Home/includes/img/pickmeup-screenshot.png" alt="PickMeUp jQuery Datepicker plugin">
		<div class="uk-thumbnail-caption">
			<h2>PickMeUp with date range selection and 3 months</h2>
		</div>
	</figure>
	<p>jQuery datepicker plugin with easy interface, and easy way to customize appearance.</p>
	<p>Can be used with inputs of inline on page. Supports single, multiple and range dates selection.</p>
	<p>SASS stylesheet with parameters allows easily fit datepicker into your project.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">Useful PHP Functions</a></h1>
		<p class="uk-article-lead">Set of system-independent functions from CleverStyle CMS</p>
	</header>
	<p>This is just set of useful functions which are more or less trivial. Most of them was written for CleverStyle CMS, but hopefully, they might be useful for others.</p>
	<p>The purpose of <abbr title="Useful PHP Functions">UPF</abbr> is propagating <abbr title="Don't repeat yourself">DRY</abbr> principle and eliminating of trivial annoying blocks of code in favor of what really matters.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">PHP Markdown Next</a></h1>
		<p class="uk-article-lead">Parser, based on PHP Markdown Extra and PHP Markdown Extra Extended</p>
	</header>
	<p>Parser for Markdown markup with different useful extensions.</p>
	<p>Refactored old code, added useful features that are not available neither in PHP Markdown nor PHP Markdown Extra, can be installed through composer.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">CleverStyle PhpStorm theme</a></h1>
		<p class="uk-article-lead">Dark theme for PhpStorm/WebStorm</p>
	</header>
	<figure class="uk-thumbnail">
		<img src="/components/modules/Home/includes/img/phpstorm-theme-screenshot.png" alt="CleverStyle PhpStorm theme">
		<div class="uk-thumbnail-caption">
			<h2>How syntax highlighting for different languages looks like</h2>
		</div>
	</figure>
	<p>There is non-zero probability, that if you read this — you code something using PHP, JavaScript, CSS and so on. For many people long reading of light text on dark background is much easier that dark text on light background.</p>
	<p>Here is very good dark theme that I'm using a lot of hours every day with PhpStorm IDE, hope you'll like it too:)</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">BananaHTML</a></h1>
		<p class="uk-article-lead">BananaHTML — single class that makes HTML generating easier</p>
	</header>
	<p>Tired from HTML/PHP mixed templates, do not like other template systems, which syntax is completely new markup language?</p>
	<p>Here is solution: generate HTML from PHP directly with well known CSS-selectors. Simple, natural syntax, good performance and there is no need to cache template - it is already regular PHP file.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">CleverStyle Tester</a></h1>
		<p class="uk-article-lead">CleverStyle Tester is a simple tool to test your PHP applications</p>
	</header>
	<div class="uk-grid">
		<figure class="uk-width-medium-3-10 uk-width-small-1-1">
			<div class="uk-thumbnail ">
				<img src="/components/modules/Home/includes/img/cstester-screenshot-1.jpg" alt="CleverStyle Tester CLI mode">
				<div class="uk-thumbnail-caption">
					<h2>CleverStyle Tester CLI mode</h2>
				</div>
			</div>
		</figure>
		<figure class="uk-width-medium-7-10 uk-width-small-1-1">
			<div class="uk-thumbnail">
				<img src="/components/modules/Home/includes/img/cstester-screenshot-2.jpg" alt="CleverStyle Tester Web mode">
				<div class="uk-thumbnail-caption">
					<h2>CleverStyle Tester Web mode</h2>
				</div>
			</div>
		</figure>
	</div>
	<p>If you don't like large full-stack testing frameworks — this tool is completely opposite.</p>
	<p>It is very simple, but allows you to test applications through browser and command line, and does this interactively, so you can see testing progress in real time.</p>
</article>
<hr>
