<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="/CMS">CleverStyle CMS</a></h1>
		<p class="uk-article-lead">Простая, быстрая и масштабируемая система управления контентом.</p>
	</header>
	<figure class="uk-thumbnail">
		<img src="/components/modules/Home/includes/img/cms-screenshot.png" alt="CleverStyle CMS">
		<div class="uk-thumbnail-caption">
			<h2>Страница администрирования "О сервере"</h2>
		</div>
	</figure>
	<p>Лучше всего удовлетворяет требования разработчиков, которые создают сайты с уникальной функциональностью.</p>
	<p>В целом система имеет все необходимые абстракции для быстрой разработки, которые работают сразу после установки и не требуют дополнительной настройки брагодаря взвешенным настройкам по умолчанию.</p>
	<p>На самом деле это <abbr title="Content Management Framework">CMF</abbr>, но развивается в направлении <abbr title="Content Management System">CMS</abbr> чтобы быть более удобной.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">PickMeUp jQuery Datepicker плагін</a></h1>
		<p class="uk-article-lead">На самом деле простой и функциональный datepicker, который легко настраивать</p>
	</header>
	<figure class="uk-thumbnail">
		<img src="/components/modules/Home/includes/img/pickmeup-screenshot.png" alt="PickMeUp jQuery Datepicker plugin">
		<div class="uk-thumbnail-caption">
			<h2>PickMeUp с выбором диапазона дат и тремя месяцами</h2>
		</div>
	</figure>
	<p>jQuery datepicker с простым интерфейсом и простой настройкой внешнего вида.</p>
	<p>Может быть использован с полями ввода, или просто на странице. Поддерживает выбор одной даты, нескольких и интервала.</p>
	<p>SASS стили с параметрами позволяют легко подогнать datepicker под ваш проект.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">Useful PHP Functions</a></h1>
		<p class="uk-article-lead">Набор системно-независимых функций с CleverStyle CMS</p>
	</header>
	<p>Это лишь набор полезных функций в большей или меньшей степени тривиальных. Большинство из них были написаны для CleverStyle CMS, но, надеюсь, они могут быть полезными еще кому-то.</p>
	<p>Цель <abbr title="Useful PHP Functions, Поледные PHP функции">UPF</abbr> это распространение <abbr title="Don't repeat yourself, Не повторяй себя">DRY</abbr> принципа и избежание тривиальных надоедливых блоков кода в пользу того, что на самом деле имеет значение.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">PHP Markdown Next</a></h1>
		<p class="uk-article-lead">Парсер который базируется на PHP Markdown Extra и PHP Markdown Extra Extended</p>
	</header>
	<p>Парсер для Markdown рразметки с разными расширениями.</p>
	<p>Рефакторинг старого кода, добавлены полезные возможности, которые не доступны ни в PHP Markdown, ни в PHP Markdown Extra, может быть установлен с использованием composer.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">CleverStyle PhpStorm theme</a></h1>
		<p class="uk-article-lead">Темная тема для PhpStorm/WebStorm</p>
	</header>
	<figure class="uk-thumbnail">
		<img src="/components/modules/Home/includes/img/phpstorm-theme-screenshot.png" alt="CleverStyle PhpStorm theme">
		<div class="uk-thumbnail-caption">
			<h2>Так выглядит подсветка синтаксиса различных языков</h2>
		</div>
	</figure>
	<p>Есть ненулевая вероятность, что если вы читаете этот текст - то вы программируете что-то с использованием PHP, JavaScript, CSS и так далее. Для многих людей читать светлый текст на темном фоне гораздо легче, чем темный текст на светлом фоне.</p>
	<p>Это хорошая темная тема, которую я использую много часов ежедневно с PhpStorm IDE, надеюсь, она вам тоже понравится:)</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">BananaHTML</a></h1>
		<p class="uk-article-lead">BananaHTML — один класс, который делает генерацию HTML проще</p>
	</header>
	<p>Устали от смешанных шаблонов с HTML/PHP, не нравятся шаблонизаторы, синтаксис которых является еще одним новым языком разметки?</p>
	<p>Вот решение: создавайте HTML с PHP непосредственно с помощью хорошо известных CSS-селекторов. Постой, естественный синтаксис, хорошая скорость и никакой необходимости кэшировать шаблоны - они и есть обычным PHP файлами.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">CleverStyle Tester</a></h1>
		<p class="uk-article-lead">CleverStyle Tester это простой инструмент для тестирования ваших PHP приложений</p>
	</header>
	<div class="uk-grid">
		<figure class="uk-width-medium-3-10 uk-width-small-1-1">
			<div class="uk-thumbnail ">
				<img src="/components/modules/Home/includes/img/cstester-screenshot-1.png" alt="CleverStyle Tester CLI mode">
				<div class="uk-thumbnail-caption">
					<h2>CleverStyle Tester режим коммандной строки</h2>
				</div>
			</div>
		</figure>
		<figure class="uk-width-medium-7-10 uk-width-small-1-1">
			<div class="uk-thumbnail">
				<img src="/components/modules/Home/includes/img/cstester-screenshot-2.png" alt="CleverStyle Tester Web mode">
				<div class="uk-thumbnail-caption">
					<h2>CleverStyle Tester Веб режим</h2>
				</div>
			</div>
		</figure>
	</div>
	<p>Если вам не нравится большие многофункциональные фреймворки для тестирования - этот инструмент совершенно противоположный.</p>
	<p>Это очень простой инструмент, который позволяет вам тестировать приложения через браузер или командную строку, и делает это интерактивно, то есть вы можете видеть прогресс в реальном времени.</p>
</article>
<hr>
