<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="/CMS">CleverStyle CMS</a></h1>
		<p class="uk-article-lead">Проста, швидка і масштабована система керування контентом.</p>
	</header>
	<figure class="uk-thumbnail">
		<img src="/components/modules/Home/includes/img/cms-screenshot.jpg" alt="CleverStyle CMS">
		<div class="uk-thumbnail-caption">
			<h2>Сторінка адміністрування "Про сервер"</h2>
		</div>
	</figure>
	<p>Найкраще задовольняє вимоги розробників, які створюють сайти з унікальною функціональністю.</p>
	<p>Вцілому система має всі необхідні абстракції для швидкої розробки, які працюють відразу після встановлення, і не потребують сцеціального налаштування через зважені налаштування за замовчуванням.</p>
	<p>Насправді це <abbr title="Content Management Framework">CMF</abbr>, але розвивається в напрямку <abbr title="Content Management System">CMS</abbr> щоб бути більш зручною.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">PickMeUp jQuery Datepicker плагін</a></h1>
		<p class="uk-article-lead">Насправді простий і функціональний datepicker, який легко налаштовувати</p>
	</header>
	<figure class="uk-thumbnail">
		<img src="/components/modules/Home/includes/img/pickmeup-screenshot.png" alt="PickMeUp jQuery Datepicker plugin">
		<div class="uk-thumbnail-caption">
			<h2>PickMeUp з вибором діапазону дат та трьома місяцями</h2>
		</div>
	</figure>
	<p>jQuery datepicker з простим інтерфейсом та простим налаштуванням зовнішнього вигляду.</p>
	<p>Може бути використаний з полями вводу, або просто на сторінці. Підтримує вибір однієї дати, кількох та інтервалу.</p>
	<p>SASS стилі з параметрами дозволяють легко підігнати datepicker під ваш проект.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">Useful PHP Functions</a></h1>
		<p class="uk-article-lead">Набір системно-незалежних функцій з CleverStyle CMS</p>
	</header>
	<p>Це лише набір корисних функцій які більшою чи меншою мірою тривіальні. Більшість з них були написані для CleverStyle CMS, але, сподіваюсь, вони можуть бути корисними ще комусь.</p>
	<p>Ціль <abbr title="Useful PHP Functions, Корисні PHP функції">UPF</abbr> це поширення <abbr title="Don't repeat yourself, Не повторюй себе">DRY</abbr> принципу та уникання тривіальних надоїдливих блоків коду на користь того, що насправді має значення.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">PHP Markdown Next</a></h1>
		<p class="uk-article-lead">Парсер що базується на PHP Markdown Extra та PHP Markdown Extra Extended</p>
	</header>
	<p>Парсер для Markdown розмітки з різними корисними розширеннями.</p>
	<p>Рефакторинг старого коду, додані корисні можливості, які не доступні ні в PHP Markdown, ні в PHP Markdown Extra, може бути встановлений з використанням composer.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">CleverStyle PhpStorm theme</a></h1>
		<p class="uk-article-lead">Темна тема для PhpStorm/WebStorm</p>
	</header>
	<figure class="uk-thumbnail">
		<img src="/components/modules/Home/includes/img/phpstorm-theme-screenshot.png" alt="CleverStyle PhpStorm theme">
		<div class="uk-thumbnail-caption">
			<h2>Так виглядає підсвічування синтаксису різних мов</h2>
		</div>
	</figure>
	<p>Є ненульова вірогідність, що якщо ви читаєте цей текст — то ви програмуєте щось з використанням PHP, JavaScript, CSS і так далі. Для багатьох людей читати світлий текст на темному фоні набагато легше, ніж темний текст на світлому фоні.</p>
	<p>Це хороша темна тема, яку я використовую багато годин щодня з PhpStorm IDE, сподіваюсь, вона вам теж сподобається:)</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">BananaHTML</a></h1>
		<p class="uk-article-lead">BananaHTML — один клас, який робить генерацію HTML простішою</p>
	</header>
	<p>Втомились від змішаних шаблонів з HTML/PHP, не подобається шаблонізатори, синтаксис яких є ще однією новою мовою розмітки?</p>
	<p>Ось рішення: генеруйте HTML з PHP напряму за допомогою добре відомих CSS-селекторів. Постий, природній синтаксис, хороша швидкість і ніякої потреби кешувати шаблони - вони і є звичайним PHP файлами.</p>
</article>
<hr>
<article class="uk-article">
	<header>
		<h1 class="uk-article-title"><a href="http://">CleverStyle Tester</a></h1>
		<p class="uk-article-lead">CleverStyle Tester це простий інструмент для тестування ваших PHP додатків</p>
	</header>
	<div class="uk-grid">
		<figure class="uk-width-medium-3-10 uk-width-small-1-1">
			<div class="uk-thumbnail ">
				<img src="/components/modules/Home/includes/img/cstester-screenshot-1.jpg" alt="CleverStyle Tester CLI mode">
				<div class="uk-thumbnail-caption">
					<h2>CleverStyle Tester режим командного рядка</h2>
				</div>
			</div>
		</figure>
		<figure class="uk-width-medium-7-10 uk-width-small-1-1">
			<div class="uk-thumbnail">
				<img src="/components/modules/Home/includes/img/cstester-screenshot-2.jpg" alt="CleverStyle Tester Web mode">
				<div class="uk-thumbnail-caption">
					<h2>CleverStyle Tester Веб режим</h2>
				</div>
			</div>
		</figure>
	</div>
	<p>Якщо вам не подобається великі багатофункціональні фреймворки для тестування — цей інструмент абсолютно протилежний.</p>
	<p>Це дуже простий інструмент, який дозволяє вам тестувати додатки через браузер або командний рядок, і робить це інтерактивно, тобто ви можете бачити прогрес в реальному часі.</p>
</article>
<hr>
