@font-face {
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: 100;
	src: url('OpenSans-Light.ttf');
}
html {
	height: 100%;
}
body {
	background: #111;
	color: #fff;
	font-family: 'Open Sans Light', sans-serif;
	font-size: 24px;
	height: 100%;
	padding: 20px;
	text-indent: 3em;
	text-align: justify;
}
header {
	font-size: 48px;
	height: 100%;
	position: relative;
}
#logo {
	background: url(logo.png) no-repeat;
	height: 459px;
	left: 50%;
	margin: -230px 0 0 -407px;
	position: absolute;
	top: 50%;
	width: 407px;
}
#slogan {
	height: 459px;
	margin: -210px -407px 0 0;
	position: absolute;
	right: 50%;
	text-align: center;
	text-indent: 0;
	top: 50%;
	width: 407px;
}
a {
	color: #fff;
}
footer {
	text-align: center;
}
footer .languages {
	font-size: 18px;
	text-align: right;
}